<!doctype html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>记录胎动</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"></head>

<body>
<div th:class="container-fluid">
    <div th:class="text-center">
        <div>
            <label id="show_time"></label>
        </div>
    </div>
    <div th:class="text-center">
        <div>
            次数:<label id="show_count" th:text="0"></label>
        </div>
    </div>

    <div class="text-center" id="startdiv">
        <button id="start" class="btn btn-success" onclick="start()">start</button>
    </div>
    <div  class="text-center" id="clickdiv" style="visibility: hidden">
        <button id="click" class="btn btn-warning" onclick="count()">计数</button>
    </div>

    <div class="text-center">
        <table class="table table-striped">
            <tr>
                <td>时间</td>
                <td>次数</td>
            </tr>
            <tr th:each="info:${infos}">
                <td th:text="${info.time}"></td>
                <td th:text="${info.count}"></td>
            </tr>
        </table>
    </div>
</div>
</body>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

    //记录点击次数
    var cou = 0;
    //是否可以点击的临时变量，0:可以点击;1:不可点击
    var temp = 0;
    //点击时间，用来判断5分钟内是否可以再次点击
    var countTime;

    function count() {
        if (temp == 0) {
            cou++;
            document.getElementById("show_count").innerHTML = cou;
            temp = 1;
            countTime=new Date().getTime();
        } else {
            alert("5分钟内只能点击一次")
        }
    }

    var firstDate;
    var sec = 0;
    var min = 0;
    var isfirst=0;
    function abc() {
        if(isfirst==0){
            //记录开始时间
            firstDate=new Date().getTime();
            isfirst=1;
        }
        var nowDate=new Date().getTime();

        min=parseInt((nowDate-firstDate) / 1000 / 60);
        sec=parseInt((nowDate-firstDate) / 1000 % 60);
        min=toFixed(min,0);
        sec=toFixed(sec,0);


        if (min < 59) {
            if (temp == 1 && (nowDate-countTime)>(60*1000*5)) {
                temp = 0;
            }
        } else {
            stop();
        }

        var t = min + ":" + sec;

        document.getElementById("show_time").innerHTML = t;
    }

    function toFixed(num, s) {
        var m = Math.pow(10, s);
        return parseInt(num * m, 10) / m;
    }

    var interval;

    function start() {
        interval = self.setInterval(function () {
            abc()
        }, 1000);
        document.getElementById("startdiv").style.visibility="hidden";
        document.getElementById("clickdiv").style.visibility = "visible";
    }

    function stop() {
        window.clearInterval(interval);
        alert("胎动次数为：" + cou + "次");

        window.location.href = "/fetal?count=" + cou;

    }


</script>
</html>